.referral-form_container {
    background-color: #fff;
    padding: 1rem;
    height: calc(100vh - 2rem);

    .button_group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}