.container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: 100vh;
    gap: 1rem;
    height: calc(100vh - 1rem);
    .referral-preview {
        background-color: red;
    }
}